/* notification */
.copyNotification {
    font-family: var(--bodyTextFont);
    color: var(--mediumGrey);
    background-color: var(--notifPurple);
    border-radius: .25em;
    font-weight: 700;
  }