/* ERROR PAGE */
#errorPage {
  color: rgba(89, 39, 148, 0.8);
  text-shadow: 
    0 0 1ex rgba(111, 64, 167, 1),
    0 0 2px rgba(238, 238, 238, 0.8);
}


/* Terminal */
.terminal_errorPage {
  padding: 4rem;
  text-transform: uppercase;
  width: 75%;
}

.terminal_errorPage h1 {
    margin-bottom: 5%;
    font-size: 3em;
}


/* Output */
.output_errorPage {
  color: #eee;
  text-shadow:
    0 0 1ex rgba(89, 39, 148, 1),
    0 0 2px rgba(238, 238, 238, 0.8);
  margin-bottom: 5%;
}

.output_errorPage::before {
  content: "> ";
}


/* Anchor */
.anchor_errorPage {
  color: var(--lightPurple);
  text-shadow: 0 0 2px rgba(238, 238, 238, 0.8);
  text-decoration: none;
}

.anchor_errorPage::before {
  content: "[";
}

.anchor_errorPage::after {
  content: "]";
}


/* Error Code */
.errorcode_errorPage {
  color: #eee;
}