.config-drawer-component{
    height: 95%;
    width: 100%;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.config-drawer-title{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--mediumGrey);
}

.config-drawer-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 10px 0 0 10px;

}

.config-drawer-content p{
    font-size: 20px;
}

.config-drawer-footer{
    text-align: center;
}

.config-drawer-footer button{
    width: 95%;
    height: 45px;
    border: 0;
    background-color: var(--red);
    border-radius: 5px;
    color: #fff;

}

.config-drawer-footer button:hover{
    background-color: var(--red-hover);
    cursor: pointer;
}

.leave-button-confirm{
    color: var(--red);
}

.leave-button-cancel:hover,
.leave-button-confirm:hover{
    cursor: pointer;
}

.ant-popover-arrow-content,
.ant-popover-arrow{
    background-color: var(--lightGrey);
    color: #fff;
}
.ant-popover-inner-content,
.ant-popover-title,
.ant-popover-inner,
.ant-popover-content{
    background-color: #000;
    color: #fff;
}