* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

html {
  font-size: calc(1em + 1vw);
}

body {
  font-family: 'Inconsolata', monospace;
  color: #eee;
  background-color: var(--backgroundColor);
}

:root {
  --bodyTextFont: 'Inconsolata', monospace;
  --projectNameFont: 'Audiowide', cursive;

  --backgroundColor: #282c34;
  --deepPurple: #592794;
  --mediumPurple: #6f40a7;
  --lightPurple: #8a5ebe;
  --darkGrey: #161616;
  --mediumGrey: #262626;
  --lightGrey: #343241;
  --lightPink: #f1d4d4;
  --golden: #ffda7b;
  --lightBlue: #80ffdb;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/*
  RESPONSIVENESS

  Breakpoint Width:
  - xxs: '320px';
  - xs: '480px';
  - sm: '576px';
  - md: '768px';
  - lg: '992px';
  - xl: '1200px';
  - xxl: '1600px';
*/