/* ROOM PAGE */
#roomPage{
    color: var(--lightPink);   
}


/* Terminal */
.terminal_roomPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 100%;
}

.boasVindas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17.5%;
}

.caixas {    
    width: 50vw;
    position: relative;
    display:flex;
    justify-self: center;
    justify-content: center;
    margin-bottom: 17.5%; 
}

.card {
    position: relative;
    margin: 12.5%;
}

.face {
    width: 10em;
    height: 5em;
    transition: 0.5s;
}

.face1 {
    position: relative;
    background-color: var(--darkGrey);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    border-radius: 4px;
}

.card:hover .face1{
    background-color: var(--deepPurple);
    border-radius: 0%;    
}

.card:hover .content{
    opacity: 1;
}

.face2{
    position: relative;
    background-color: var(--darkGrey);
    display:  flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(22, 22, 22, 0.4);
    transform: translateY(-99%);
    transition: .4s;
    height: 0;
}

.card:hover .face2{
    background-color: var(--darkGrey);
    transform: translateY(0);
    transition: .4s;
    height: 100%;
}

.card:hover .face2 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}

.face1 .content {
    opacity: .5;
    transition: .2s;
}

.face1 .content:hover {    
    transition: .2s;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content :hover {
    opacity: .65;
}

.contentHeader {
    font-size: .75em;
}

.createRoomNotification {
    font-family: var(--bodyTextFont);
    color: var(--mediumGrey);
    background-color: var(--lightPink);
    border-radius: .25em;
    font-weight: 700;
}

.card a{
    cursor: pointer;
}

#but-criar {
    visibility: hidden;    
    color: var(--lightPink);
}

.card:hover #but-criar {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: var(--deepPurple);
    font-size: 1rem;
    height: 40%;
    width: 50%;
    padding: 10px 0;
}

.content input {
    visibility: hidden;
    padding: 10px;
    margin: 10px;
    color: var(--darkGrey);
}

.card:hover .content input {    
    visibility: visible;    
    font-family: inherit;
    font-size: 1.25em;
    padding-left: 1.75%;
    padding-right: 1.75%;
    height: 30%;
    width: 95%;
}

#but-entrar{
    visibility: hidden;
    margin: 10px;
}

.card:hover #but-entrar {    
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--deepPurple);
    height: 40%;
    width: 50%;
    padding: 10px 0;
}