* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.paginaSalasContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--corFundo);
  color: var(--corSecundaria);
  
}

.paginaSalasContainer h1, h2, a {
    font-family: var(--fonteRoboto);
    font-weight: 800;
    
}

.boasVindas {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.boasVindas h1 {
    font-size: 3.75em;
    font-family: var(--fonteRoboto);
    font-weight: 400;
}

.caixas {
    
    width: 50vw;
    height: 50vh;
    position: relative;
    display:flex;
    justify-self: center;
    justify-content: center;
    
}



.card {
    position: relative;
    margin: 10%;
}

.face {
    width: 300px;
    height: 70px;
    transition: 0.5s;
}

.face1 {
    position: relative;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 

}

.card:hover .face1{
    background-color: var(--corPrimaria);
    
}

.card:hover .content{
    opacity: 1;
}

.face2{
    position: relative;
    background-color: #333;
    display:  flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
    transform: translateY(-99%);
    transition: .4s;
    height: 0;
}

.card:hover .face2{
    background-color: var(--corPreto);
    transform: translateY(0);
    transition: .4s;
    height: 100%;
}



.card:hover .face2 .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 100%;
}

.face1 .content{
    opacity: .5;
    transition: .2s;
}

.face1 .content:hover{
    
    transition: .2s;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card a{
    cursor: pointer;
}

#but-criar{
    visibility: hidden;
    
}

.card:hover #but-criar{
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: var(--corPrimaria);
    font-size: 1.65rem;
    height: 40%;
    width: 50%;
    padding: 10px 0;

}

.content input{
    font-family: var(--fonteRoboto);
    font-weight: 500;
    padding: 10px;
    visibility: hidden;
    margin: 10px;
}

.card:hover .content input {
    
    visibility: visible;
    
    font-size: 2.5rem;
    height: 30%;
    width: 80%;

}

#but-entrar{
    visibility: hidden;
    margin: 10px;
}

.card:hover #but-entrar {
    
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--corPrimaria);
    font-size: 1.65rem;
    height: 40%;
    width: 50%;
    padding: 10px 0;
}



@media screen and (max-width: 900px) {
  .caixas {
      flex-direction: column;
      align-items: center;
  }

  .card {
      margin-right: 0;
      margin-bottom: 5%;
  }
  .card:hover {
      margin-bottom: 15%;
  }

  .card:hover #but-criar{
    padding: 30px 0;

  }
}
