#container-editor{
  display: flex;
  flex-direction: column;
}

/* Navbar */
#navbar-editor{
  padding: 0 2rem;
  display: grid;  
  grid-area: topbar;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main config info";  
  align-items: center;
  background-color: var(--deepPurple);
  font-family: var(--projectNameFont);
  color: var(--golden);
  font-size: .5em;
  height: 5vh;
  max-height: 5vh;
  min-height: 5vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-main{
  grid-area: main;
  display: flex;
  justify-content: flex-start;
}

.navbar-main h1{
  cursor: pointer;
}

.navbar-config{
  grid-area: config;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown{
  background-color: var(--mediumPurple);
  padding: .25rem 1rem .25rem 1rem;
  border-radius: 4px;
  color: var(--lightPink);
  font-family: var(--bodyTextFont);
  font-weight: 700;
  border: 0;
  appearance: none;
}

.custom-select{
  position: relative;
  margin-right: .5rem;
}

.custom-arrow{
  position:absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1rem;
  height: 100%;
  background-color: var(--lightPurple);
  pointer-events: none;
  border-radius: 0 4px 4px 0 ;
}

.arrow{
  position: relative;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.run-button{
  background-color: var(--mediumPurple);
  border: 0;
  border-radius: 4px;
  color: var(--lightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem .5rem .25rem .5rem;
  cursor: pointer;
  margin-left: 2rem;
}

.run-button:hover{
  background-color: var(--lightPurple);
}

.play-ico{
  font-size: .5rem;
}

.navbar-info{
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: .5rem;
  font-family: var(--bodyTextFont);
}

.navbar-info h2 {
  color: var(--lightPink);
}

.navbar-info a{
  color: var(--projectNameFont);
  cursor: pointer;
}

/* Page Content */
#editorPageContent {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: .5fr 4fr 10fr 10fr;
  height: 95vh;
  max-height: 95vh;
  min-height: 95vh;
}

/* Sidebar */
.sidebar {
  background-color: var(--darkGrey);
  display: flex;
  flex-direction: column;
  color: var(--lightPurple);
}

.sidebar-header{
  display: flex;
  justify-content: space-between;
  background-color: var(--darkGrey);
  padding: 18px;
  padding-left: 22px;
  padding-top: 22px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: .66em;
}

.file-ico{
  font-size: 1.33em;
}

.bg-dark{
  background-color: var(--darkGrey);
}

#sidebar-files{
  display: flex;
  flex-direction: column;
}

#sidebar-files div{
  padding: 15px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  align-items: center;
}

#sidebar-files div:hover{
  background-color: #1a2436;

}

.more-ico{
  font-size: 1em;
}

.editor{
  line-height: 1.4;
  
}

.editor textarea{
    padding: 35px 25px 25px 25px;
    border-radius: 3px;
}

.codeTerminal{
  
}