
#container-editor{
  display: flex;
  flex-direction: column;
  
  width: 100vw;
}

#top{
  height: 5vh;
}

/* Navbar */
#navbar-editor{
  padding: 0 2rem;
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main config info";  
  align-items: center;
  background-color: var(--deepPurple);
  font-family: var(--projectNameFont);
  color: var(--golden);
  font-size: .5em;
  height: 5vh;
  max-height: 5vh;
  min-height: 5vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar-main{
  grid-area: main;
  display: flex;
  justify-content: flex-start;
}

.navbar-main h1{
  cursor: pointer;
  color: #eee;
  text-shadow:
    0 0 1ex rgba(89, 39, 148, 1),
    0 0 2px rgba(238, 238, 238, 0.8);
}

.navbar-main h1::before {
  content: "> ";
}

.navbar-config{
  grid-area: config;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown{
  background-color: var(--mediumPurple);
  padding: .25rem 1.2rem .25rem 0.4rem;
  border-radius: 4px;
  color: var(--lightPink);
  font-family: var(--bodyTextFont);
  font-weight: 700;
  border: 0;
  appearance: none;
}

.custom-select{
  position: relative;
  margin-right: .5rem;
}

.custom-arrow{
  position:absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1rem;
  height: 100%;
  background-color: var(--lightPurple);
  pointer-events: none;
  border-radius: 0 4px 4px 0 ;
}

.arrow{
  position: relative;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.run-button{
  background-color: var(--mediumPurple);
  border: 0;
  border-radius: 4px;
  color: var(--lightBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem .5rem .25rem .5rem;
  cursor: pointer;
  margin-left: 2rem;
}

.run-button:hover{
  background-color: var(--lightPurple);
}

.play-ico{
  font-size: .5rem;
}

.navbar-info{
  grid-area: info;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: .5rem;
  font-family: var(--bodyTextFont);
}

.navbar-info h2 {
  color: var(--lightPink);
}

.navbar-info a{
  color: var(--projectNameFont);
  cursor: pointer;
}
.copy-icon{
  margin-right: 5px;
}

.btn-copy{
  background-color: var(--mediumPurple);
  border: none;
  cursor: pointer;
  color: var(--golden);
  font-size: 1em;
  padding: .15rem .25rem .15rem .20rem;
  border-radius: 5px;
}








/* Page Content */
#bottom{
  height: 95vh;
  width: 100vw;
  background-color: green;
  display: flex;
  flex-direction: row;
}

/* Sidebar */
#sidebar {
  background-color: var(--darkGrey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: var(--lightPurple);
  height: 95vh;
  width: 2.5vw;
}

#sidebar-bottom{
  margin-bottom: 0.5em;
}

.sidebar-item{
  font-size: .65em;
  padding: 10px;
}

.sidebar-item-toogle{
  background-color: var(--mediumGrey);
  font-size: .65em;
  padding: 10px;
  cursor: pointer;
}


.sidebar-item:hover{
  background-color: var(--mediumGrey);
  cursor: pointer;
}

/* FILES */

#files{
  display: flex;
  flex-direction: column;
  width:15vw;
  background-color: var(--mediumGrey);
}
#files-header{
  display: flex;
  justify-content: space-between;
  background-color: var(--mediumGrey);
  padding: 18px;
  padding-left: 22px;
  padding-top: 22px;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  font-size: .45em;  
}

.plus-ico{
  font-size: 1.33em;
  cursor: pointer;
}

.bg-dark{
  background-color: var(--darkGrey);
}

.more-ico{
  font-size: 1em;
}

#files-body{
  overflow-y: auto;
}

/* customizar scroll bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--mediumGrey); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}







#editor{
  line-height: 1.4;
  width: auto; 
  height: 100%;
  background-color: var(--lightGrey); 
}

.monaco-editor {
  padding-top: .25rem;
}

#resistent-box{
  width: 100%;
  height: 100%;
}







#terminal-editor{
  width: 10vw;
  height: auto;
  background-color: #444;

}





/* SPLIT.JS */

.split {
  display: flex;
  flex-direction: row;
  width:98vw;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

/* notification */
.copyNotification {
  font-family: var(--bodyTextFont);
  color: var(--mediumGrey);
  background-color: var(--notifPurple);
  border-radius: .25em;
  font-weight: 700;
}

@media screen and (max-width: 2000px){
  #top{
    height: 6vh;
  }
  
  /* Navbar */
  #navbar-editor{
    
    height: 6vh;
    max-height: 6vh;
    
  }

}
