.user-list{
    width: 100%;
    height: 40%;
    padding-top: 15px;
  
  }
  
  /* Caso for implementar mensagens
  .user-messages{
    width: 100%;
    height: 60%;
    padding-bottom: 15px;
  } */
  
  
  .line{
    position: relative;
    background-color: #666;
    margin: 30px auto;
    width: 70%;
    height: 1px;
  }
  
  .line-title{
    background-color: var(--mediumGrey);
    position: absolute;
    top: -13px;
    left: 30px;
    padding: 0 10px;
  }
  
  .line-title h6{
    font-size: .55em;
  }
  
  
  .user-list-content{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    overflow-y: hidden;
    
  }
  
  .user-list-content:hover{
    overflow-y: auto;
    
  }
  
  .user-list-content::-webkit-scrollbar-thumb {
    background: #333;
  
  }