.UserLine{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 20px 0;
}

.active-sign{
    background-color: var(--lightBlue);
    width: 5px;
    height: 5px;
    border-radius: 100%;
}

.avatar{
    margin: 0 10px;
}