#file-box{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mediumGrey);
    font-size: .5em;
    height: 40px;
    width: 100%;
    padding: 0 8px;
    
}

#file-box-input{
    width:70%;
    border: none;
    padding: 3px 3px ;
    background-color: var(--mediumGrey);
    color: #eee;
    margin-left: 6px;
    line-height: 5px;
    
}

#file-box-input:focus{
    /*border: solid 1px #444;*/
    border: none;
    background: transparent;
    /*background-color: var(--lightGrey);*/
}

#file-box:hover{
    background-color: var(--lightGrey);
    cursor: pointer;
}

#file-box:hover #file-box-input{
    background-color: var(--lightGrey);
    cursor: pointer;
    
}

.file-container{
    display: flex;
    width: 80%;
}

.language-icon-container img{
    width: 15px;
    height: 15px;
}



