@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap%27');

body{
  background-color: #282c34;
}

:root {
  --fonteRoboto: 'Roboto', sans-serif;

  --corPrimaria: #4c01a4;
  --corSecundaria: #f1d4d4;
  --corTerciaria: #6f40a7;
  --corPreto: #111c30; 
  --corFundo: #343241;
}

.App{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "topbar topbar" "editor terminal";
  column-gap: 30px;
  
  padding: 30px;
}

.topbar{
  grid-area: topbar;
}

.editor{
  grid-area: editor;
  line-height: 1.4;
}

.editor textarea{
    padding: 35px 25px 25px 25px;
    border-radius: 3px;
    background: #21252b;
}

.terminal{
  grid-area: terminal;
}
