/* @import '~antd/dist/antd.dark.css'; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap%27');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body{
  background-color: #282c34;
}

:root {
  --fonteRoboto: 'Roboto', sans-serif;

  --corPrimaria: #4c01a4;
  --corSecundaria: #f1d4d4;
  --corTerciaria: #6f40a7;
  --corPreto: #111c30; 
  --corFundo: #343241;
}
